<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>

    <style asp-src="~/GymWebsite.Theme/style.css"></style>
    <link href="~/GymWebsite.Theme/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/GymWebsite.Theme/js/bootstrap.bundle.min.js"></script>

    <resources Type="Stylesheet" />

    <script asp-name="admin-head" version="1" at="Head"></script>
    @if (Orchard.IsRightToLeft())
    {
        <style asp-name="bootstrap-rtl" version="5" at="Head"></style>
        <style asp-name="TheTheme" depends-on="bootstrap-rtl" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    else
    {
        <style asp-name="bootstrap" version="5" at="Head"></style>
        <style asp-name="TheTheme" depends-on="bootstrap" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    <script asp-name="bootstrap" version="5" at="Foot"></script>
    <style asp-name="font-awesome" version="6"></style>
    <resources type="Header" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body>
    <div class="top-line">
    </div>
    <div style="align-content:center">
        <img src="@Url.Content("/Media/_Users/4x55s2h0t0kz3syrxm1t2tvvn5/logo2.png")" />
    </div>



    <nav class="left-menu">
        <ul style="list-style-type:none">
            <li> <img src="@Url.Content("/Media/_Users/4x55s2h0t0kz3syrxm1t2tvvn5/logo2.png")" style="align-content:center" /></li>
            <li><a href="@Url.Content("~/")">Main Page</a></li>
            <li><a href="@Url.Content("~/login")">Login Page</a></li>
            <li><a href="@Url.Content("~/Admin/Contents/ContentItems?q=type%3AMusclePartPageFromCode")">Create & Edit</a></li>
            @* <li><a href="@Url.Content("~/create-exercise-page")">Create Exercise</a></li> *@
            <li class="dropdown">
                <a href="#">Muscles</a>
                <ul class="dropdown-menu" style="background-color: #333">
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4sc52s95cr4km75w369q9ktp5g")" style="color: aliceblue;">Traps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4yttcs9ne6efhz2g276wtz7w4p")" style="color: aliceblue;">Shoulders</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4xb3s0ta1rr491gpnp1p0q90x7")" style="color: aliceblue;">Chest</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/46cwm461f0zmsvjv1m297036nj")" style="color: aliceblue;">Triceps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4rv8bv85a2hkvv1w823c8mf4xx")" style="color: aliceblue;">Biceps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4204vzbw825a9zcv63j0yhzy4b")" style="color: aliceblue;">Forearms</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/425mwy6wr3xqew56pnykjq0dwd")" style="color: aliceblue;">Back</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4b7yrz4kx7kcqx1x1qyvchmzng")" style="color: aliceblue;">Abs</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4tv6vk2162d9v5jkzr7kkyj1xp")" style="color: aliceblue;">Quads</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4dc7jjkyafc3fzjm7s3nnw5gnv")" style="color: aliceblue;">Hamstrings</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Contents/ContentItems/4q79aksrzacf477dq3v3x0j8dr")" style="color: aliceblue;">Calves</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    @await RenderSectionAsync("Header", required: false)
    <main class="container">
        @await RenderSectionAsync("Messages", required: false)

        @await RenderBodyAsync()
    </main>
    @if (IsSectionDefined("Footer"))
    {
        <footer>
            <div class="container">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </footer>
    }
    <resources type="FootScript" />
</body>
</html>