<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>

    <style asp-src="~/GymWebsite.Theme/style.css"></style>
    <link href="~/GymWebsite.Theme/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/GymWebsite.Theme/js/bootstrap.bundle.min.js"></script>

    <resources Type="Stylesheet" />

    <script asp-name="admin-head" version="1" at="Head"></script>
    @if (Orchard.IsRightToLeft())
    {
        <style asp-name="bootstrap-rtl" version="5" at="Head"></style>
        <style asp-name="TheTheme" depends-on="bootstrap-rtl" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    else
    {
        <style asp-name="bootstrap" version="5" at="Head"></style>
        <style asp-name="TheTheme" depends-on="bootstrap" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    <script asp-name="bootstrap" version="5" at="Foot"></script>
    <style asp-name="font-awesome" version="6"></style>
    <resources type="Header" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body>
    <div class="top-line">
        
    </div>
    <nav class="left-menu">
        <ul style="list-style-type:none">
            <li><a href="@Url.Content("~/")">Main Page</a></li>
            <li><a href="@Url.Content("~/login")">Login Page</a></li>
            <li><a href="@Url.Content("~/Admin/Contents/ContentItems?q=type%3AMusclePage")">Create & Edit</a></li>
            @* <li><a href="@Url.Content("~/create-exercise-page")">Create Exercise</a></li> *@
            <li class="dropdown" >
                <a href="#">Muscles</a>
                <ul class="dropdown-menu" style="background-color: #333">
                    <li><a class="dropdown-item" href="@Url.Content("~/traps")" style="color: aliceblue;">Traps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/shoulders")" style="color: aliceblue;">Shoulders</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/chest")" style="color: aliceblue;">Chest</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/triceps")" style="color: aliceblue;">Triceps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/biceps")" style="color: aliceblue;">Biceps</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/forearms")" style="color: aliceblue;">Forearms</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/back")" style="color: aliceblue;">Back</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/abs")" style="color: aliceblue;">Abs</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/quads")" style="color: aliceblue;">Quads</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/hamstrings")" style="color: aliceblue;">Hamstrings</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/calves")" style="color: aliceblue;">Calves</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    @await RenderSectionAsync("Header", required: false)
    <main class="container">
        @await RenderSectionAsync("Messages", required: false)

        @await RenderBodyAsync()
    </main>
    @if (IsSectionDefined("Footer"))
    {
        <footer>
            <div class="container">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </footer>
    }
    <resources type="FootScript" />
</body>
</html>